<div class="slideshow">
  <div class="row card-deck">
    <div class="col-md-2 col-4" *ngFor="let movie of movieList">
      <div class="card">
        <img
          class="card-img-top"
          [src]="movie.image"
          alt="Card image cap"
          height="200px"
          width="300px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.rating }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
